<!--
1- (app.component.html) Realizar:
Una aplicación que se le ingresen dos edades en dos cuadro de textos
edadUno, EdadDos
mostrar el promedio y la suma en dos cuadros de textos nuevos -> {{}}
botones "calcular" y "limpiar cuadros de textos"
-->

<router-outlet />
<p>1er Edad: <input type="number" [(ngModel)]="edad1" id="btnEdad1"></p>
<p>2da Edad:<input type="number" [(ngModel)]="edad2" id="btnEdad2"></p>

<button (click)="calcularPromedio(edad1, edad2, 2)" >Calcular</button>
<button (click)="limpiar()">Limpiar</button>

<p>Suma: {{sumaTotal}}</p>
<p>Promedio: {{promedio}}</p>    
